<ion-header [translucent]="true" color="primary">
  <ion-toolbar>
    <ion-title>
      Création profil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>

      <ion-card-header>
        <ion-list>

          <ion-item>
            <ion-input
            label="Nom"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="ex: Marcel"
            [(ngModel)]="userData.name"
          >
          <ion-icon slot="start" name="at-outline" aria-hidden="true"></ion-icon>
          </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
        label="Prénom"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="ex: Marssel"
        [(ngModel)]="userData.firstName"
        ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
        label="Adresse"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="ex: Chaussée de méfess"
        [(ngModel)]="userData.address"
        ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
        label="Telephone"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="ex: +32 314 43 43 34"
        [(ngModel)]="userData.numberPhone"
        ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
            label="Instagram"
            labelPlacement="stacked"
            [clearInput]="true"
            placeholder="ex: @selsurmars"
            [(ngModel)]="userData.instagram"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
        label="Facebook"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="ex: Marssel Marcel"
        [(ngModel)]="userData.facebook"
        ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
        label="Description"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="ex: Je me présente je m'appelle Marssel je voudrais bien réussir ma vie"
        [(ngModel)]="userData.description"
        ></ion-input>
          </ion-item>



        </ion-list>
      </ion-card-header>

      <ion-card-content>
        <ion-button shape="round" size="small" (click)="creationProfil()">
          Je souscris à un abonnement
          <ion-icon name="send-outline"></ion-icon>  
        </ion-button>
      </ion-card-content>

  </ion-card>
</ion-content>