.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
    background-color: white;
    
}
/*
ion-card{
    text-align: center;
}*/
ion-card{
    background-color: #F9E6AC;
}

#photoProfil{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}