<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-image-container">
      <img src="../../assets/icon/IZIPLAN.png" alt="Logo" class="toolbar-image">
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshProfil($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h1>Mon profil</h1>

  <ion-card *ngIf="profil">
    <ion-card-header id="photoProfil">
      <div class="img-box">
        <!-- <img src="../../assets/profil/"> -->
        <img src="../../assets/icon/user.png">
      </div> 
      <ion-card-title>{{profil?.firstName}} {{profil?.name}}</ion-card-title>
      <ion-card-subtitle>&#64;{{profil?.username}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-subtitle>Description</ion-card-subtitle>
      <p>{{profil?.description}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content id="flex-item-1">
      <a href="https://www.instagram.com/{{profil?.instagram}}" target="_blank" class="horizontal-align">
          <ion-icon name="logo-instagram" size="large"></ion-icon>
          <label>{{profil?.instagram}}</label>
      </a>
    </ion-card-content>
  
    <ion-card-content class="horizontal-align">
      <a href="https://www.facebook.com/search/people/?q={{profil?.facebook}}" target="_blank" class="horizontal-align">
        <ion-icon name="logo-facebook" size="large"></ion-icon>
         <label>{{profil?.facebook}}</label>
      </a>
    </ion-card-content>
  </ion-card>
    
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <a href="https://www.google.com/maps/place/{{profil?.address}}" target="_blank" class="horizontal-align">
          {{profil?.address}}
        </a>
      </ion-card-title>
      <ion-card-subtitle>Adresse</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <a id="phoneCall" href="tel:{{ profil?.numberPhone }}">{{ profil?.numberPhone }}</a>
      </ion-card-title>
      <ion-card-subtitle>Téléphone</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>