body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    height: 100%;
  }
  
  header, footer {
    background-color:#ffffff;
    position: fixed;
    width: 100%;
    padding: 2%;

  }
  header {
    top: 0;
  }
  
  footer {
    bottom: 0;
  }
  
  /*.container {
    /*display: inline-block;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
   /* align-items: center;
    padding-top: 1%; 
    padding-bottom: 1%; 
    overflow-y: auto; 
    height: calc(100% - 6%); 
  }*/

  .container {
    padding-top: 60px; /* Hauteur du header */
    padding-bottom: 60px; /* Hauteur du footer */
    overflow-y: auto; /* Permet le défilement vertical */
    height: calc(100% - 120px); /* Hauteur de la fenêtre moins la hauteur du header et du footer */
  }
  
  .event {
    color:black;
    
    width: 95%;
    height: 50%;
    background-color: #F9E6AC; 
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  a {
    color : black;
  }
  
  .event:first-child {
    height : 25%;
  }

  