.toolbar-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.toolbar-image {
    max-width: 150px;
    max-height: 150px;
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
}

.ios {
    h1 {
        font-size: 30px;
    }
}

.md {
    h1 {
        font-size: 30px;
    }
}

#eventButton {
    width: 90%;
    height: auto;
    margin-left: 5%;
    color: black;
}

ion-content {
    --background: #f4f4f4; 
}
  
ion-list {
    margin: 20px; 
}
  
ion-item {
    --border-color: #ddd; 
}

.error-message{
    color: red;
    margin-left: 15px;
    font-size: 10px;
}

.custom-popover {
    max-height: 50vh;
    --top: 50px;
 }


.centred-element {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ion-padding{
    height: 120px;
}

.custom-contribution-item {
    --background: #F9E6AC;
    --border-radius: 15px;
    margin-bottom: 10px;
    --ion-item-background: #F9E6AC;
    --padding-start: 15px;
    --padding-end: 15px;
    --inner-border-radius: 15px;
    border-radius: 15px;
  }
  
  ion-item-sliding {
    --border-radius: 15px;
    margin-bottom: 10px;
  }
