.toolbar-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.toolbar-image {
    max-width: 150px;
    max-height: 150px;
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
}

.ios {
    h1 {
        font-size: 30px;
    }
}

.md {
    h1 {
        font-size: 30px;
    }
}

#eventButton {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

ion-content {
    --background: #f4f4f4; 
}
  
ion-list {
    margin: 20px; 
}
  
ion-item {
    --border-color: #ddd; 
}

.error-message{
    color: red;
    margin-left: 15px;
    font-size: 10px;
}

.custom-popover {
    max-height: 50vh;
    --top: 50px;
 }

.option-card.selected {
    background-color: #ffbf00 /* Jaune */
}

.ion-label {
   
    background-color: inherit;
    color: inherit; /* Utiliser la couleur du parent */
}

.selected {
    background-color: #ffbf00; /* Bleu si sélectionné */
    color: black; /* Texte blanc si sélectionné */
}

ion-card:not(.selected) {
    background-color: #F9E6AC; /* Jaune si non sélectionné */
    color: black; /* Texte noir si non sélectionné */
}

.centred-element {
    display: flex;
    justify-content: center; // Pour centrer horizontalement
    align-items: center; // Pour centrer verticalement
}
.ion-padding{
    height: 120px;
}
