ion-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.custom-popover.popover-top {
    top: 50px;
  }

.selected ion-label {
    background-color: #ffbf00;
    color: black;
}

.contributionsButton {
    width: 90%;
    height: auto;
    margin-left: 5%;
    color: black;
}