<ion-list>
  <ion-list-header>Contributions</ion-list-header>
  <ion-searchbar 
    placeholder="Rechercher une contribution" 
    [(ngModel)]="searchTerm" 
    (ionInput)="filterContributions()"></ion-searchbar>
  <ng-container *ngIf="filteredContributions.length > 0">
    <ion-item *ngFor="let item of filteredContributions" [class.selected]="item.selected" (click)="toggleSelection(item)">
      <ion-label>{{ item.nom }}</ion-label>
    </ion-item>
  </ng-container>
    <ion-item class=clicked (click)="toggleInput()">
      <ion-input
        label="+" 
        placeholder="Nouvelle contribution"
        labelPlacement="floating"
        [clearOnEdit]="true"
        [(ngModel)]="contributionData.nom"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="showInput">
      <ion-button class="contributionsButton" (click)="ajouterContribution()">Créer la contribution</ion-button>
    </ion-item>
    <ion-item *ngIf="atLeastOneSelected">
      <ion-button class="contributionsButton" (click)="afficherContribution()">Ajouter</ion-button>
    </ion-item>
</ion-list>