<ion-list class="popover-top">
  <ion-list-header>Contributions</ion-list-header>
  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
  <ion-item *ngFor="let item of contributions" [class.selected]="item.selected" (click)="toggleSelection(item)">
    <ion-label>{{ item.nom }}</ion-label>
  </ion-item>
    <ion-item class=clicked (click)="toggleInput()">
      <ion-input
        label="+" 
        placeholder="Nouvelle contribution"
        labelPlacement="floating"
        [clearOnEdit]="true"
        [(ngModel)]="contributionData.nom"
      ></ion-input>
    </ion-item>
    <ion-item *ngIf="showInput">
      <ion-button (click)="ajouterContribution()">Ajouter</ion-button>
    </ion-item>
    <ion-item *ngIf="atLeastOneSelected">
      <ion-button (click)="afficherContribution()">OK</ion-button>
    </ion-item>
</ion-list>