.options {
  justify-content: center;
}
  
.option-card {
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  background-color: #F9E6AC;
}
                                  
.option-card.selected {
  background-color: #ffbf00 
}

ion-card {
  border-radius: 20px;
}
                                    
ion-card-header {
  text-align: center;
}

page-produits-alimentaires {
  .total {
    .total-label {
      font-weight: bold;
    }
  }
}

ion-item {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  height: 50px; 
}

.ion-label {

  background-color: inherit;
  color: inherit; 
}

.selected {
  background-color: #ffbf00; 
  color: black;
}

ion-card:not(.selected) {
  background-color: #F9E6AC; 
  color: black; 
}

h1 {
  text-align: left;
  font-weight: bold;
  margin-left: 3%;
  margin-bottom: 30px;
}

h2 {
  text-align: left;
  font-size: 20px;
  margin-left: 3%;
}

.ios {
  h1 {
      font-size: 25px;
  }
}

.md {
  h1 {
      font-size: 30px;
  }
}

ion-footer{
  background-color: white;
}

.centred-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-padding{
    height: 120px;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.toolbar-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.toolbar-image {
  max-width: 150px;
  max-height: 150px;
}

ion-back-button {
  color: black;
  width: 80px;
  height: 65px;
  margin-right: -80px;
}

.rejoindreButton {
  width: 90%;
  height: auto;
  margin-left: 5%;
  color: black;
}

