.options {
    justify-content: center;
  }
  
  .option-card {
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    background-color: #F9E6AC;
  }
  
  .option-card.selected {
    background-color: #ffbf00 /* Jaune */
  }
  
  ion-card-header {
    text-align: center;
  }

  page-produits-alimentaires {
  
    .total {
      .total-label {
        font-weight: bold;
      }
    }
    
  }
  ion-item {
    border-radius: 20px;
    margin: 15px;
    padding: 10px; /* Ajustez selon vos préférences */
    height: 50px; /* Hauteur des blocs ajustée */
  }
  
  .ion-label {
   
    background-color: inherit;
    color: inherit; /* Utiliser la couleur du parent */
  }
  
  .selected {
    background-color: #ffbf00; /* Bleu si sélectionné */
    color: black; /* Texte blanc si sélectionné */
  }
  
  ion-card:not(.selected) {
    background-color: #F9E6AC; /* Jaune si non sélectionné */
    color: black; /* Texte noir si non sélectionné */
  }
  
  ion-footer{
    background-color: white;
  }

  .centred-element {
    display: flex;
    justify-content: center; // Pour centrer horizontalement
    align-items: center; // Pour centrer verticalement
  }
.ion-padding{
    height: 120px;
}