<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab1" text="" icon="chevron-back-outline"></ion-back-button>
  </ion-buttons>
  <ion-title id="event-name">{{ event?.nom }}</ion-title>
  <ion-buttons *ngIf="isAdmin" slot="end">
    <ion-button (click)="sShare()"><ion-icon id="shareEventButton" name="share-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshEventInfos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <h1>Informations générales</h1>

    <ion-card class="eventInfos">

      <ion-card-header>
        <ion-card-title id="date-time">{{ event?.date }} à {{ event?.heure }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>Date et heure</ion-card-content>
    </ion-card>

    <ion-card class="eventInfos">

      <ion-card-header>
        <ion-card-title id="location">
          <a href="https://www.google.com/maps/place/{{event?.lieu}}" target="_blank" class="horizontal-align">
          <label>{{event?.lieu}}</label>
          </a>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>Adresse</ion-card-content>
    </ion-card>

    <ion-row class="flex-container">
      <ion-card id="flex-item-1" class="flex-item">
        <ion-card-header>
          <ion-card-title id="nbrLit">{{ event?.nbrLit }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>Lits libres</ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-title id="nbrBob">{{ nbrBobs }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>Bobs</ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="isAdmin" id="actionsButton">
      <ion-button id="updateEventButton" class="eventActionsButton" [routerLink]="['/update-event',event?.id]" [ngClass]="{ 'disabled-event': event?.etatdelete }">
        <ion-icon aria-hidden="true" name="pencil-outline" style="height: 35px; width:150px; color: black;"></ion-icon>
      </ion-button>
    
      <ion-button id="cancelEventButton" class="eventActionsButton" (click)="onClickDelete()" #deleteButton [ngClass]="{ 'disabled-event': event?.etatdelete }">
        <ion-icon aria-hidden="true" name="trash-outline" style="height: 35px; width:150px; color: black;"></ion-icon>
      </ion-button>
    </ion-row> 

    <ion-row *ngIf="isBed" id="takeBedButtonContainer">
      <ion-button id="takeBedButton" (click)="takeBed()" [ngClass]="{ 'disabled-event': event?.etatdelete }">Demander un lit</ion-button>
    </ion-row> 

    <h1>Liste des invités</h1>

    <ion-card *ngFor="let profil of eventprofil; index as i" class="status" [routerLink]="['/profil-event', profil?.idProfil]">
      <ion-card-header class="card-header">
        <div class="profile-container">
          <ion-thumbnail class="profile-image-container">
            <img src="../../../assets/icon/user.png" alt="Photo" class="profile-image">
          </ion-thumbnail>
          <div class="text-container">
            <ion-card-title class="idProfil">{{ profil.user?.firstName }} {{ profil.user?.name }}</ion-card-title>
            <ion-card-subtitle class="role">&#64;{{ profil.user?.username }}</ion-card-subtitle>
          </div>
        </div>
      </ion-card-header>
      <ion-thumbnail class="image-container">
        <img [src]="profil.status?.status ? getImageUrl(profil.status.status) : ''" alt="Photo">
      </ion-thumbnail>
    </ion-card>
    <br>
    <br>
</ion-content>