ion-card{
    background-color: #F9E6AC;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
    text-align: center; 
}

#flex-item-1{
    margin-right: 0;
}

ion-row {
    margin-top: -10px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.status {
    ion-card-title,
    ion-card-subtitle {
      flex: 1;
      text-align: left;
      font-size: 20px;
    }
  
    ion-thumbnail {
      width: auto;
      height: auto;
      margin-left: 250px;
  
    }
  
    img{
      margin-top: 10px;
    }
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;

  ion-title {
    font-size: 20px;
  }
}

h1 {
  text-align: left;
  font-weight: bold;
  margin-left: 5%;
}

.ios {
  h1 {
      font-size: 30px;
  }
}

.md {
  h1 {
      font-size: 30px;
  }
}

ion-back-button {
  color: black;
  margin-left: 5%;
}