ion-card {
  background-color: #F9E6AC;
  border-radius: 20px;
}

ion-card-title, ion-card-content {
  margin-left: 10px;
}

ion-card-content {
  margin-top: -10px;
}

ion-button {
  margin-top: -20px;
}

.eventInfos {
  margin-bottom: -8px;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
}

#flex-item-1 {
  margin-right: 0;
}

ion-row {
  margin: 0 0 5% 0;
  justify-content: space-between;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9E6AC;
  margin-bottom: -8px;
  padding: -20px;
  border-radius: 100px;
}

.profile-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.profile-image-container {
  margin-right: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

ion-card-title.idProfil, ion-card-subtitle.role {
  text-align: left;
  margin: 0;
}

ion-card-title.idProfil {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 6px;
}

ion-card-subtitle.role {
  font-size: 12px;
}

ion-thumbnail.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -65px 20px 0 0;
  padding-bottom: 20px;
  width: auto;
  height: auto;
}

.image-container img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

ion-toolbar ion-title {
  font-size: 20px;
}

h1 {
  text-align: left;
  font-weight: bold;
  margin-left: 5%;
}

.ios h1, .md h1 {
  font-size: 30px;
}

ion-back-button {
  color: black;
  width: 80px;
  height: 65px;
}

.eventActionsButton {
  width: 172px;
}

#actionsButton {
  margin-top: -8px;
}

#updateEventButton {
  margin-left: 15px;
}

#cancelEventButton {
  margin-right: 15px;
}

.disabled-event {
  opacity: 0.5;
  pointer-events: none;
}

#shareEventButton {
  color: black;
  margin-right: 20px;
}
