h1 {
    text-align: center;
}

div {
    margin: 150px;
    text-align: center;
}

a {
    color: black;
    background-color: #ffe876;
    font-family: Verdana;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 100px 20px;
}