<ion-menu contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="toolbar-image-container">
        <img src="../../../../assets/icon/IZIPLAN.png" alt="Logo" class="toolbar-image">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
  <ion-card [routerLink]="['/tabs/tab5']">Anciens Évènements</ion-card>
</ion-menu>
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
