<ion-menu contentId="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="toolbar-image-container">
        <img src="../../../../assets/icon/IZIPLAN.png" alt="Logo" class="toolbar-image">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      
      <ion-item>
        <ion-button expand="full" color="primary">
          <ion-label color="dark">Réglages</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button menuToggle expand="full" color="primary" [routerLink]="['/tabs/tab5']">
          <ion-label color="dark">Anciens Évènements</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="full" color="primary" [routerLink]="['/update-profil']">
          <ion-label color="dark">Modifier mon profil</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="full" color="primary" (click)="logout()">
          <ion-label color="dark">Se déconnecter</ion-label>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button expand="full" color="primary" (click)="onClickUnsubscribe()">
          <ion-label color="dark">Supprimer mon compte</ion-label>
        </ion-button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>