/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.custom-popover.popover-top {
    --width: 90%; /* Prendre presque toute la largeur de l'écran */
    --left: 5%; /* Centrer en laissant un petit espace sur les côtés */
    --top: 10px; /* Positionner légèrement en dessous du bouton */
    --transform: none; /* Éliminer les transformations par défaut */
    --max-height: 50vh; /* Ajuster la hauteur maximale si nécessaire */
    --border-radius: 10px; /* Ajouter un petit arrondi aux coins */
    --backdrop-opacity: 0.3; /* Ajuster l'opacité du backdrop si nécessaire */
}
  
.custom-popover.popover-top ion-content {
    max-height: 50vh; /* Activer le défilement si le contenu dépasse la hauteur */
    overflow-y: auto; /* Activer le défilement vertical */
}