<ion-header>
  <ion-toolbar>
    <ion-title>Modifier l'événement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="event">
      <ion-input
        label="Nom de l'événement"
        labelPlacement="floating"
        [clearInput]="true"
        placeholder={{event?.nom}}
        [(ngModel)]="event.nom"
      >
      </ion-input>
    </ion-item>

  <ion-item>
    <ion-label position="stacked">Date et Heure</ion-label>
    <br>
    <ion-datetime 
      displayFormat="YYYY-MM-DD HH:mm" 
      pickerFormat="YYYY-MM-DDTHH:mmZ"
      max="{{ maxDate }}"
      min="{{ minDate }}"
      [(ngModel)]="eventDateTime"
      (ionChange)="onDateTimeChange($event)"
    ></ion-datetime>
  </ion-item>

    <ion-item *ngIf="event">
      <ion-input
        label="Lieu"
        labelPlacement="floating"
        [clearInput]="true"
        placeholder={{event?.lieu}}
        [(ngModel)]="event.lieu"
      >
      </ion-input>
    </ion-item>

    <ion-item *ngIf="event">
      <ion-input
        type="number"
        label="Nombre de lits disponibles"
        labelPlacement="floating"
        [clearInput]="false"
        placeholder={{event?.nbrLit}}
        [(ngModel)]="event.nbrLit"
      >
      </ion-input>
    </ion-item>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <br>

  </ion-list>
  <ion-button id="eventButton" (click)="updateEvent()">Modifier mon événement</ion-button>
</ion-content>

