ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  
    ion-title {
      font-size: 20px;
    }
}
  
  ion-content {
    --background: #f4f4f4; // Couleur de fond du contenu
  }
  
  ion-list {
    margin: 20px; // Marge autour de la liste
  }
  
  ion-item {
    --border-color: #ddd; // Couleur de la bordure des éléments
  }
  
#eventButton {
  width: 90%;
  height: auto;
  margin-left: 5%;
  color: black;
}

.error-message{
  color: red;
  margin-left: 15px;
  font-size: 10px;
}

ion-back-button {
  color: black;
  width: 80px;
  height: 65px;
}