<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-image-container">
      <img src="../../assets/icon/IZIPLAN.png" alt="Logo" class="toolbar-image">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Créer un compte</h1>
  <ion-card>
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>

              <ion-item>
                <ion-input label="Nom d'utilisateur" labelPlacement="floating" name="username" type="text" placeholder="Votre nom d'utilisateur" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Nom" labelPlacement="floating" name="name" type="text" placeholder="Votre nom" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Prénom" labelPlacement="floating" name="firstName" type="text" placeholder="Votre prénom" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Adresse e-mail" fill="solid" labelPlacement="floating" name="mail" type="email" placeholder="Votre adresse e-mail" helperText=" " ngModel email required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Mot de passe" labelPlacement="floating" name="password" type="password" placeholder="Votre mot de passe" ngModel required></ion-input>
              </ion-item>

              <ion-row *ngIf='isNotTheSame'>
                <div text-center id="registerError">
                Les mots de passes ne correspondent pas
                </div>
              </ion-row>
              <ion-item>
                <ion-input label="Confirmation du mot de passe" labelPlacement="floating" name="confirm" type="password" placeholder="Confirmer votre mot de passe" ngModel required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Numéro de téléphone" labelPlacement="floating" name="numberPhone" type="tel" placeholder="Votre numéro de téléphone" ngModel></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Adresse" labelPlacement="floating" name="address" type="text" placeholder="Votre adresse" ngModel></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Compte Facebook" labelPlacement="floating" name="facebook" type="text" placeholder="Votre compte Facebook" ngModel></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Compte Instagram" labelPlacement="floating" name="instagram" type="text" placeholder="Votre nom d'utilisateur Instagram" ngModel></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Description" labelPlacement="floating" name="description" type="text" placeholder="Votre description" ngModel></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Photo de profil" labelPlacement="floating" type="file" accept="image/*" capture="environment" #profilePicInput></ion-input>
              </ion-item>
            </div>
            <br>
            <div padding>
              <ion-button color="primary" id="registerButton" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
            </div>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <div text-center id="login">
          Vous avez déjà un compte ? Connectez vous <a routerLink='/login'>
          par ici</a>
          </div>
        </ion-row>
        <br>
      </ion-grid>
    </form>
  </ion-card>
  
</ion-content>