.img-box {
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
    background-color: white;
    margin-top: 5%;
}

ion-card{
    background-color: #F9E6AC;
}

#photoProfil{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  
    ion-title {
      font-size: 20px;
    }
}

#title {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
}

.ios {
    #title {
        font-size: 35px;
    }
}

.md {
    #title {
        font-size: 30px;
    }
}

p, label, a {
    color: black;
}

label {
    margin-left: 5%;
}

.horizontal-align {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#flex-item-1 {
    margin-bottom: -7%;
}