<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-image-container">
      <img src="../../assets/icon/IZIPLAN.png" alt="Logo" class="toolbar-image">
    </div>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-refresher slot="fixed" (ionRefresh)="refreshEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <h1>Mes événements</h1>

    <ion-card *ngFor="let event of tableEvents; index as i" class="ion-text-center" [routerLink]="['/evenement', event?.id]" [ngClass]="{ 'disabled-event': event?.etatdelete }">
      <ion-card-header>
        <ion-card-title>{{ event?.nom }}</ion-card-title>
        <ion-card-subtitle>{{ event?.date }} à {{ event?.heure }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ event?.etatdelete ? 'Événement annulé' : event?.lieu }}    
      </ion-card-content>
    </ion-card>
    <br>
    <br>
    
</ion-content>