ion-card {
    background-color: #F9E6AC;
    border-radius: 20px;
}

ion-button {
    margin-left: 60%;
    margin-top: 0%; 
}

h1 {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
}

.ios {
    h1 {
        font-size: 35px;
    }
}

.md {
    h1 {
        font-size: 30px;
    }
}

.toolbar-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.toolbar-image {
    max-width: 150px;
    max-height: 150px;
}

.disabled-event {
    opacity: 0.5;
    background-color: #D3D3D3;
  }

.disabled-event ion-card-header ion-card-title,
.disabled-event ion-card-header ion-card-subtitle,
.disabled-event ion-card-content {
  color: black;
}