div {
    margin: 30px;
    text-align: center;
}

a {
    color: black;
    background-color: #ffe876;
    font-family: Verdana;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    margin: 10px;
}