<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input placeholder="Adress email" type="email"></ion-input>
  </ion-item>
  <ion-content>

    <ion-item>
      <ion-label >Mot de passe</ion-label>
      <ion-input placeholder="Mot de passe" type="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button fill="clear" slot="end" >Mot de passe oublié ?</ion-button>
    </ion-item>

    <ion-button fill="outline" shape="round" expand="block">
      Connexion
    </ion-button>
    <br>
    <ion-button shape="round" expand="block">Inscription</ion-button>

    <ion-item lines="none">
      <ion-label text-center >Ou connecter-vous avec :</ion-label>
    </ion-item>



<!----<ion-item>
  <ion-input maxlength="100" labelPlacement="floating" label="Email:"></ion-input>
  <div slot="helper">Enter an email</div>
  <div slot="error">Please enter a valid email</div>

</ion-item>

  <ion-item >
    <ion-input type="password" labelPlacement="floating" label="Mot de passe"></ion-input>
    <div slot="helper">Enter a password</div>
    <div slot="error">Please enter a valid password</div>
  </ion-item>
  

  <ion-button></ion-button>

  <ion-button expand="block" >Se connecter</ion-button>--->
</ion-content>


