<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des invités
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Liste des invités</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of eventprofil; index as i" class="ion-text-center card-container">
    <ion-card-header>
        <ion-card-subtitle>{{ item.role }}</ion-card-subtitle>
        <ion-card-title>{{ item.idProfil }}</ion-card-title>
    </ion-card-header>
    <ion-thumbnail class="image-container">
        <img [src]="getImageUrl(item.role)" alt="Photo" style="width: 100%; height: auto;">
    </ion-thumbnail>
  </ion-card>

  <ion-router-outlet></ion-router-outlet>
</ion-content>
