ion-card{
    background-color: #F9E6AC;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

ion-card-subtitle{
    text-align: left;
}

ion-card-title{
    text-align: left;
}

.image-container {
    flex-shrink: 0;
    margin-left: auto; /* Pour placer l'image à droite */
    margin-right: 35px;
    margin-top: 0px;
    width: 25%; 
}